.input-container {
    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.input-container input {
    font-size: 14px;
    padding: 10px;
    width: 250px;
    margin: 5px;
    border: 2px solid #b8b7b7;
    border-radius: 5px;
}

.gender-button {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
    text-align: center;
    border-radius: 5px;
}

.gender-button img{
    width: 75%;
    height: 75%;
    vertical-align: middle;
    padding: 5px;
}

.gender-button:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.m {
    background-color: #a2caff;
}
  
.f {
    background-color: #F7CED7FF;
}

.none {
    background-color: #dadada;
}